<div id="<%= dom_id person %>">
  <p>
    <strong>Nome:</strong>
    <%= person.nome %>
  </p>

  <p>
    <strong>Abreviacao:</strong>
    <%= person.abreviacao %>
  </p>

  <p>
    <strong>Nascimento:</strong>
    <%= person.nascimento %>
  </p>

</div>
